body{
  margin:0;
}
ul{
  list-style-type: none;
  border:1px solid rebeccapurple;
  background-color: black;
  /* overflow: hidden; */
height: 300px;

  
 width:100%;
}


li a{
 float: left;
color: white;
 display: block;
 padding-right:30px;
 text-decoration: none;
 font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 font-size:15px;
 border-right: 1px solid #47118f;

}
li>div{
  display:inline-block;
}


@media screen and (max-width: 600px) {
ul li a {
    float:none;
  }

 
.dp-content{
  display: block;
}